* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #efefef;
    width: 100vw;
}

.container {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 350px;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin: 0 15px;
    box-shadow: 0 0 25px 1px rgba(0, 0, 0, .3);
    cursor: pointer;
}

.image::after {
    content: '';
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-140%, -50%);
    background-color: rgba(54, 216, 116, .8);
    border-radius: 50%;
    transition: .8s;
}

.image:hover::after {
    transform: translate(-50%, -50%);
}

.image:hover img {
    transform: translate(-50%, -50%) scale(1.3) rotate(20deg);
}

img {
    position: absolute;
    height: 110%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .8s;
}

i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-2000%, -50%);
    z-index: 2;
    color: #fff;
    transition: .8s;
    transition-timing-function: ease-in;
}

.image:hover i {
    transform: translate(-50%, -50%);
    transition-timing-function: ease-in;
}